.alerttxt  {		
		font-size: 13px;
		font-style:italic;		
		color:#666;
		font-family: cursive;
		margin-top:10px;

	}
input[type=submit] ,input[type=button]{
		background-color:#FFF;
		color:#00F;
		font-family:"MS Serif", "New York", serif;
		margin-left:14px;
		margin-top:15px;
		border-radius:20px;
		font-size:14px; 
		width: 80px;
		height:35px;
		border-color:#00F;
		font-weight:bold;
		padding:4px;


	}
	input[type=reset] {
		background-color:#FFF;
		color:#00F;
		font-family:"MS Serif", "New York", serif;
		margin-left:50px;
		border-radius:20px;
		font-size:14px; 
		width: 80px;
		height:35px;
		border-color:#00F;
		font-weight:bold;
		padding:5px;


	}
input[type=text], input[type=password]{
		width:260px;
		height:30px;
		border-radius:5px;
		border-color:#666;
		border-style:solid;
		background-color:#FFF;
		margin-top:5px;
		margin-bottom:5px;
		padding:5px;
		color:#666;
}

	body {

			background-color:#C4E1FF;
			
		}
		
	table{  
		font-family:'Comic Sans MS', cursive;
		border-radius: 10px; 
		display: block;
		margin: 60px 0px 100px 250px;
		position: center;	
		width: 465px;
		height:230px;
		text-align: left;
		border: 1px groove #00F;
		padding:30px 30px 30px 30px;
		color:#00f;
		font-size:16px;
		
	}