
html {
  background:url(admin_pic/2Roads%20To%20Nowhere.jpg) no-repeat center fixed;
  margin: 0;
  padding: 0;
}

body {
 
  font-family: "Comic Sans MS", cursive;
  line-height: 1em;
  background:url(admin_pic/2Roads%20To%20Nowhere.jpg) no-repeat center fixed;
  margin: 3em auto;
  border: 4px solid #BDC3C7;
  box-shadow: 0 0 10px #ddd;
}

a {
  color: #2980B9;
  text-decoration: none;
  border-bottom: 1px dotted #2980B9;
}

a:hover, a:active {
  color: #3498DB;
  border-bottom: 1px solid #2980B9;
}

header {
  
  
}
.tt{  
		font-family:'Comic Sans MS', cursive;
		border-radius: 10px; 
		display: block;
		margin: 100px 100px 0px 200px;
		position: center;	
		width: 500px;
		height:270px;
		text-align: left;
		border: 1px groove #00F;
		padding:30px 30px 30px 30px;
		color:#00f;
		font-size:16px;
		
	}
	.option1{
		width:100px;
		float:left;
		margin-left:150px;
		
		}
	select.packagename{
		width:150px;
		float: right;
		margin-right:70px;}
		
	select.packagename1{
		width:170px;
		float:left;
		margin-left:50px;}
		
		.del{
			width:900px;
			float:left;
			margin-left:70px;}
	
.insert
	{   background-color:#fff;
		color:#333;
		font-family:Georgia, "Times New Roman", Times, serif;
		margin-left:400px;
		border-radius:5px;
		font-size:12px; 
		border-color:#000;
		font-weight:bold;
		padding:5px;
		text-align:justify;
	}

.des {
  display: block;
  font-size: 1em;
}

.logo {
 
  float:left;
  
}
.limg
	{	
 	 float: left;
	 margin:32px 0px 0px 0px;
	 border-radius:50px; 
	 width: 60px;
	 height: 60px;
	 border:1px solid #F0F;
 }				
				
 .limg:hover
{
	opacity:0.9;
 }
 
h1 {
  font-family:Jokerman;
  color: #00F;
  text-shadow:6px 5px 1px #F7B;
  font-size:large;
  padding:5px;
 	}

h2 {
  font-size: 0.8em;
  color: #aaa;
  font-weight: normal;
  margin: 0;
}

#admin
{
	width:500px;
	height:300px;}


		.nav, .sub {
			font-family:Georgia, "Times New Roman", Times, serif;
			font-size:18px;
			list-style: none;
			margin-left:70px;
			padding: 0;
			width:100%;
			display:block;
			margin-bottom: 6em;
		}
	
		.nav li {
			
			background:#0080FF;
			height: 50px;
			line-height: 50px;
			text-align: center;
			width:200px;
			
		}
		.nav li a {
			display: block;
			text-decoration: none;
			color: #fff;
		}
		.nav li a:hover {
			border:#CCC;
			border: 1px solid #0080FF;
			background:#fff;
			color: #0080FF;
		}
		.nav li a:active
		{   border:#CCC;
			border: 1px solid #0080FF;
			background:#400000;
			color:#FFF;
			font-family:Georgia, "Times New Roman", Times, serif;
			}
		.nav > li {
			border-right: 1px solid #FFF;
			float: left;
		}
		.sub {
			
			position: absolute;
			display: none;
		}
		.nav > li:hover .sub {
			display: block;
		}
		.sub li {
			border-top: 1px solid #FFF;
		}
		
		.content {
			background-color:#FF0;
			height:100px;
		}

	

.footer {
  text-align: center;
  color: #000;
  font-family:Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  border-top: 1px solid #BDC3C7;
  width:950px;
  line-height:50px;
}



.img
{   float:left;
	margin-top:20;
	border-radius:5px;
	opacity:1;
	
}
.img:hover
{
	opacity:0.7;}

h3{ 
	
	margin-left:10px;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-top: 20px;
    padding: 0 20px;
	text-align:justify;
    font-size: 22px;
    color:#333;
    text-shadow:6px 5px 6px #666;
	}
h4 
{	
	text-align:left;
	font-weight:bold;
	font-size:22px;
	margin-left:340px;
	font-family:David;
	color:#00F;
	line-height: 1.0em;
	/*text-shadow:6px 5px 6px #F7B;*/}
	
h5{
	
		font-size:18px;
		text-shadow:6px 3px 8px #666;
		text-align:left;
		font-family:"Times New Roman", Times, serif;
		color:#1F1F1F;
		
		}

.pd
{   text-align:left;
	font-family:David;
	font-size:20px;
	text-align:justify;
	font-weight:200px;
	margin-left:340px;
	display: block;
	padding:15px;
	line-height:2em;
}
	
	
/*input[type=submit]
	{	
	background-color:#fff;
	color:#333;
	font-family:Georgia, "Times New Roman", Times, serif;
	margin-left:420px;
	border-radius:5px;
	font-size:12px; 
	border-color:#000;
	font-weight:bold;
	padding:5px;
	text-align:justify;
	}*/
	
input[type=submit]
{
	    background-color:#fff;
		color:#333;
		font-family:Georgia, "Times New Roman", Times, serif;
		margin-left:50px;
		margin-top:10px;
		border-radius:5px;
		font-size:12px; 
		border-color:#000;
		font-weight:bold;
		padding:5px;
		text-align:justify;
	
}	
	
input[type=text]
	{   margin-left:50px;
		border-radius:5px;
		border-color:#666;
		border-style:solid;
		background-color:#FFF;
		width:250px;
		padding:5px;
		color:#666;
	}	
.ff
{   width:970px;
	background:url(pic/2Roads%20To%20Nowhere.jpg) no-repeat center fixed;}

p{
	text-align:left;
	margin-left:350px;
	color:#e91d26;
	font-size:18px;
	text-align:justify;
	width:610px;
	font-family:David;
	line-height:18px;
	
	}
	
.p1 
{
	text-align:left;
	font-weight:bold;
	font-size:22px;
	margin-left:360px;
	font-family:David;
	color:#FF0080;
	}
	
.p2
{   text-align:left;
	width:870px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:justify;
	color:#333;
	margin-left:10px;
	font-size: 18px;
    padding: 0 20px;
	line-height:1.5em;
	}
	
.p3
{   text-align:left;
	text-align:justify;
	padding: 0 20px;
    font-size: 20px;
	margin-left:20px;
	color: #400000;
    font-weight:bold;
	}
	
.p4{
	text-align:left;
	padding:20px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:justify;
	line-height:1.5em;
	color:#000;
	font-size: 16px;
	background:url(pic/2Roads%20To%20Nowhere.jpg) no-repeat center fixed;
	padding:20px;
    }
	
.p5
{   text-align:left;
	width:870px;
	font-family:Georgia, "Times New Roman", Times, serif;
	text-align:justify;
	color:#333;
	background:url(pic/2Roads%20To%20Nowhere.jpg) no-repeat center fixed;
	border:double thin #CCC;
	margin-left:10px;
	font-size: 18px;
    padding:30px;
	line-height:1.5em;
	font-variant:small-caps;
	
	}	
	
hr{ margin-left:1px;
	width:960px;
	color:#EEEEEE;
	border-style:dotted;
	margin-bottom:1em;
	}
	
.sd
{   width:350px;
	margin-left:50px;
	font-size:18px;
	padding:10px;
	float:left;
	color:#333;
	line-height:1em;
	font-family:Georgia, "Times New Roman", Times, serif;}
	
	
.sd1
{   width:350px;
	font-size:16px;
	float:left;
	color:#333;
	margin-top:50px;
	line-height:1em;
	font-family:Georgia, "Times New Roman", Times, serif;
	display: none;
}
	
.sd2
{   font-size:18px;
    color:#333;
	padding:20px;
	float:right;
	margin:15px;
	line-height:2em;
	font-family:Georgia, "Times New Roman", Times, serif;}
	
#sd2
{   font-size:18px;
    color:#333;
	padding:20px;
	float:right;
	margin:15px;
	line-height:2em;
	font-family:Georgia, "Times New Roman", Times, serif;}
	
.sn
{   width:350px;
	margin-right:10px;
	font-size:18px;
	padding:10px;
	float:right;
	color:#333;
	line-height:1em;
	font-family:Georgia, "Times New Roman", Times, serif;}
	
.sn1
{   font-size:16px;
	width:350px;
	float:right;
	color:#333;
	padding:10px;
	margin-left:100px;
	line-height:2em;
	font-family:Georgia, "Times New Roman", Times, serif;
	display: none;}
	
#suggestion
{  float:right;
	margin-left:260px;
	width:1100px;
	line-height:2em;
	font-weight:700;
	font-size:24px;
	
	}	

.cc
{
	background:url(pic/2Roads%20To%20Nowhere.jpg) no-repeat center fixed;
	width:920px;
	text-align:justify;
	text-indent:50px;
	padding:10px;}
	
.rm{
	color:#F00;
	
	}
	


	


@media screen and (min-width: 33em) {
	
 

  body {
    padding: 1.6em;
    max-width: 60em;
  }

  header {
    overflow: hidden;
    text-align: left;
  }

  .logo {
    float: left;
	
  }
  table
  {
	  }

  hgroup {
    float: left;
    margin: 1.6em 0 0 1em;
  }

  .link{
	  display: block;
	  float: right;
	  width: 100px;
	  margin-top: 5em;
	  }
  h1 {
    font-size: 1.6em;
  }

  nav {
    background: #1635a6;
  }

  nav ul li {
    width: auto;
    border-right: 1px solid #FFF;
  }

  nav ul li a {
    font-size: 1em;
    padding: 0.5em 3em;
  }

  .content {
    overflow: hidden;
  }

  article {
    width:30%;
    float: left;
  }

  footer {
    border-top: 1px solid #BDC3C7;
    padding-top: 0.5em;
  }

}

@media screen and (min-width: 30em) and (max-width: 60em) {
   img {
	  width:200px;
	  height:100px;
	  float:left;
	  
  }
  body {
    width: 40em;
	height:700px;

  }

  .des {
    display: block;
    float: none;
    text-align: center;
    margin-top: 0;
  }

  nav {
    background: #1635a6;
	width:10px;
  }

  nav ul li {
    width: 10px;
    border-right: 1px solid #FFF;
  }

  nav ul li a {
    font-size: 9px; 
    padding: 5px 1.5em;
  }

  article {
    width: 46%;
	
  }
  .logintb
  {   float:left; 
  	  margin-top:60px;
	  width: 75%;
	  margin-left:20px;
	  height:32%;
}

.footer
{  margin-top: 500px;
   margin-right:500px;
   border-top: 1px solid #BDC3C7;
   width:550px;
   line-height:20px;
	}
